In [2]:
import pandas as pd
import numpy as np
# np里边的合并
arr1 = np.random.randint(0, 10, (3, 4))
arr2 = np.random.randint(0, 10, (3, 4))

print(arr1.shape)
print(arr2.shape)

(3, 4)
(3, 4)

In [4]:
#按那个轴连接，那个轴就变化
print(np.concatenate([arr1, arr2]).shape)
print(np.concatenate([arr1, arr2], axis=1).shape)

(6, 4)
(3, 8)

In [5]:
# index 没有重复的情况
ser_obj1 = pd.Series(np.random.randint(0, 10, 5), index=range(0,5))
ser_obj2 = pd.Series(np.random.randint(0, 10, 4), index=range(5,9))
ser_obj3 = pd.Series(np.random.randint(0, 10, 3), index=range(9,12))

print(ser_obj1)
print(ser_obj2)
print(ser_obj3)

0    8
1    6
2    1
3    1
4    5
dtype: int32
5    4
6    6
7    8
8    1
dtype: int32
9     5
10    0
11    4
dtype: int32

In [6]:
print(pd.concat([ser_obj1, ser_obj2, ser_obj3]))

0     8
1     6
2     1
3     1
4     5
5     4
6     6
7     8
8     1
9     5
10    0
11    4
dtype: int32

In [4]:
#series按轴1concat，变为df
print(pd.concat([ser_obj1, ser_obj2, ser_obj3], axis=1))

      0    1    2
0   6.0  NaN  NaN
1   3.0  NaN  NaN
2   1.0  NaN  NaN
3   4.0  NaN  NaN
4   3.0  NaN  NaN
5   NaN  3.0  NaN
6   NaN  5.0  NaN
7   NaN  5.0  NaN
8   NaN  9.0  NaN
9   NaN  NaN  3.0
10  NaN  NaN  4.0
11  NaN  NaN  0.0

### index 有重复的情况

In [7]:
# index 有重复的情况
ser_obj1 = pd.Series(np.random.randint(0, 10, 5), index=range(5))
ser_obj2 = pd.Series(np.random.randint(0, 10, 4), index=range(4))
ser_obj3 = pd.Series(np.random.randint(0, 10, 3), index=range(3))

print(ser_obj1)
print(ser_obj2)
print(ser_obj3)

0    5
1    6
2    4
3    6
4    1
dtype: int32
0    1
1    8
2    1
3    4
dtype: int32
0    5
1    8
2    1
dtype: int32

In [8]:
#相同索引名直接往下排
print(pd.concat([ser_obj1, ser_obj2, ser_obj3]))

0    5
1    6
2    4
3    6
4    1
0    1
1    8
2    1
3    4
0    5
1    8
2    1
dtype: int32

In [11]:
#inner 和outer 代表内连接和全外连接
print(pd.concat([ser_obj1, ser_obj2, ser_obj3], axis=1, join='inner'))

   0  1  2
0  5  1  5
1  6  8  8
2  4  1  1

In [12]:
#df的concat
import pandas as pd
import numpy as np
df_obj1 = pd.DataFrame(np.random.randint(0, 10, (3, 2)), index=['a', 'b', 'c'],
                       columns=['A', 'B'])
df_obj2 = pd.DataFrame(np.random.randint(0, 10, (2, 2)), index=['a', 'b'],
                       columns=['A', 'B'])
print(df_obj1)
print(df_obj2)

   A  B
a  2  8
b  7  5
c  7  1
   A  B
a  3  2
b  2  7

In [14]:
pd.concat([df_obj1, df_obj2])

   A  B
a  2  8
b  7  5
c  7  1
a  3  2
b  2  7

In [16]:
pd.concat([df_obj1, df_obj2], axis=1)

   A  B    A    B
a  2  8  3.0  2.0
b  7  5  2.0  7.0
c  7  1  NaN  NaN

### 数据重构(stack,unstack)

In [17]:
df_obj = pd.DataFrame(np.random.randint(0,10, (5,2)), columns=['data1', 'data2'])
print(df_obj)

   data1  data2
0      2      5
1      0      5
2      3      1
3      3      1
4      7      9

In [18]:
#对df进行stack，就会变成mutiindex的series
stacked = df_obj.stack()  #stack内部带的参数level，选择哪一个column变为index
print(stacked)

0  data1    2
   data2    5
1  data1    0
   data2    5
2  data1    3
   data2    1
3  data1    3
   data2    1
4  data1    7
   data2    9
dtype: int32

In [19]:
# 默认操作内层索引
print(stacked.unstack())

# 通过level指定操作索引的级别
print(stacked.unstack(level=0))

   data1  data2
0      2      5
1      0      5
2      3      1
3      3      1
4      7      9
       0  1  2  3  4
data1  2  0  3  3  7
data2  5  5  1  1  9

In [20]:
#stack和unstack对df操作
index1 = pd.MultiIndex.from_arrays([['a', 'a', 'a', 'b', 'b', 'b', 'c', 'c', 'c', 'd', 'd', 'd'],
                [0, 1, 2, 0, 1, 2, 0, 1, 2, 0, 1, 2]], names=['cloth', 'size'])

df= pd.DataFrame(np.arange(24).reshape(12,2),index=index1,columns=['data1','data2'])
print(df)

            data1  data2
cloth size
a     0         0      1
      1         2      3
      2         4      5
b     0         6      7
      1         8      9
      2        10     11
c     0        12     13
      1        14     15
      2        16     17
d     0        18     19
      1        20     21
      2        22     23

In [22]:
df_s=df.unstack(level=0)  #把行索引中的一个级别拿到列索引,列索引变为层级索引
df_s

      data1             data2
cloth     a   b   c   d     a   b   c   d
size
0         0   6  12  18     1   7  13  19
1         2   8  14  20     3   9  15  21
2         4  10  16  22     5  11  17  23

In [23]:
df_s.columns

MultiIndex([('data1', 'a'),
            ('data1', 'b'),
            ('data1', 'c'),
            ('data1', 'd'),
            ('data2', 'a'),
            ('data2', 'b'),
            ('data2', 'c'),
            ('data2', 'd')],
           names=[None, 'cloth'])

In [24]:
df_s.stack(0)  #把columns上的0层索引放到index的内层索引

C:\Users\Administrator\AppData\Local\Temp\ipykernel_17324\959899028.py:1: FutureWarning: The previous implementation of stack is deprecated and will be removed in a future version of pandas. See the What's New notes for pandas 2.1.0 for details. Specify future_stack=True to adopt the new implementation and silence this warning.
  df_s.stack(0)  #把columns上的0层索引放到index的内层索引

cloth       a   b   c   d
size
0    data1  0   6  12  18
     data2  1   7  13  19
1    data1  2   8  14  20
     data2  3   9  15  21
2    data1  4  10  16  22
     data2  5  11  17  23

 ## 处理重复数据

In [25]:
df_obj = pd.DataFrame({'data1' : ['a'] * 4 + ['b'] * 4,
                       'data2' : np.random.randint(0, 4, 8)})
print(df_obj)

  data1  data2
0     a      1
1     a      0
2     a      3
3     a      3
4     b      3
5     b      1
6     b      1
7     b      3

In [26]:
df_obj.duplicated()

0    False
1    False
2    False
3     True
4    False
5    False
6     True
7     True
dtype: bool

In [27]:
df_obj[~df_obj.duplicated()]  #取出不重复行

  data1  data2
0     a      1
1     a      0
2     a      3
4     b      3
5     b      1

In [28]:
#按照某一列去重
print(df_obj.duplicated('data2'))

0    False
1    False
2    False
3     True
4     True
5     True
6     True
7     True
dtype: bool

In [29]:
df_obj.drop_duplicates()

  data1  data2
0     a      1
1     a      0
2     a      3
4     b      3
5     b      1

In [30]:
df_obj1 = pd.DataFrame({'data1' :[np.nan] * 4,
                       'data2' :list('1225')})
df_obj1

   data1 data2
0    NaN     1
1    NaN     2
2    NaN     2
3    NaN     5

In [31]:
#在pd的duplicated认为空值和空值相等的
df_obj1.duplicated()

0    False
1    False
2     True
3    False
dtype: bool

In [33]:
print(df_obj1.drop_duplicates())  #删除重复行

   data1 data2
0    NaN     1
1    NaN     2
3    NaN     5

In [34]:
ser_obj = pd.Series(np.random.randint(0,10,10))
print(ser_obj)

print(ser_obj.map(lambda x : x ** 2))

0    7
1    5
2    1
3    4
4    1
5    1
6    3
7    3
8    4
9    2
dtype: int32
0    49
1    25
2     1
3    16
4     1
5     1
6     9
7     9
8    16
9     4
dtype: int64

In [35]:
#异常值手动替换
ser_obj=pd.Series(np.arange(10),index=range(3,13))
# 单个值替换单个值
print(ser_obj.replace(1, -100))

3       0
4    -100
5       2
6       3
7       4
8       5
9       6
10      7
11      8
12      9
dtype: int32

In [36]:
# 多个值替换一个值
print(ser_obj.replace(range(6,9), -100))

3       0
4       1
5       2
6       3
7       4
8       5
9    -100
10   -100
11   -100
12      9
dtype: int32

In [37]:
# 多个值替换多个值
print(ser_obj.replace([4, 7], [-100, -200]))

3       0
4       1
5       2
6       3
7    -100
8       5
9       6
10   -200
11      8
12      9
dtype: int32

In [38]:
df = pd.DataFrame({'A': [0, 1, 2, 3, 4],
                   'B': [5, 6, 7, 8, 9],
                   'C': ['a', 'b', 'ac', 'd', 'e']})

In [39]:
df

   A  B   C
0  0  5   a
1  1  6   b
2  2  7  ac
3  3  8   d
4  4  9   e

In [40]:
#正则表达式替换
df.replace(to_replace=r'^a', value=100, regex=True)

   A  B    C
0  0  5  100
1  1  6    b
2  2  7  100
3  3  8    d
4  4  9    e

In [41]:
df.dtypes

A     int64
B     int64
C    object
dtype: object